body {background-color: black;}
#contenedor{width: 1200px;
			height: 990px;
			margin: 0 auto;
			/*border:solid;*/}
			
			#cabecera{width: 1200px;
						height: 320px;}
						
				#login{width: 1200px;
						height: 35px;
						background-color: #800080;
						border-radius: 10px;
						/*border-bottom:solid;*/}
							
				#logo{margin: 0 auto;
						width: 450px;
						height: 200px;}
					
						
				#menu{margin: 0 auto;
						width:1200px;
						height:115px;
						/*border-top:solid;
						border-bottom:solid;*/}
					
						#menu ul {
							list-style-type: none;
							margin: 0;
							padding: 0;
							overflow: hidden;
							background-color: #800080;
							border-radius: 10px;
							
						}

						#menu li {
							float: left;
						}

						#menu li a {
							display: block;
							color: white;
							text-align: center;
							padding: 14px 16px;
							text-decoration: none;
							font-family: sans-serif;
							
						}

						#menu li a:hover {
							background-color: white;
							border-top: 3px solid #800080;
							color: black;
							
						}
						
						#menu li.espacio{color:#800080;}
					
			#contenido{width: 1200px;
						height: 635px;
						background-color: yellow;
					/*	border-top:solid;
						border-bottom:solid;*/}

			
			#pie{width: 1200px;
					height: 35px;
					background-color: #800080;
						border-radius: 10px;
					/*border-top:solid;*/ }