
body {background-color: black;
		font-family: sans-serif;}
h3{
	font-family: sans-serif;
	color: #fff;
	}

	#contenedor{width: 1200px;
				height: 1300px;
				margin: 0 auto;
				/*border:solid;*/}
				
				#cabecera{width: 1200px;
							height: 320px;}
							
					#login{width: 1200px;
							height: 35px;
							background-color: #800080;
							border-radius: 10px;
							/*border-bottom:solid;*/}
								
					#logo{margin: 0 auto;
							width: 450px;
							height: 200px;}
						
							
					#menu{margin: 0 auto;
							width:1200px;
							height:115px;
							/*border-top:solid;
							border-bottom:solid;*/}
						
							#menu ul {
								list-style-type: none;
								margin: 0;
								padding: 0;
								overflow: hidden;
								background-color: #800080;
								border-radius: 10px;}

							#menu li {
								float: left;}

							#menu li a {
								display: block;
								color: white;
								text-align: center;
								padding: 14px 16px;
								text-decoration: none;
								font-family: sans-serif;}

							#menu li a:hover {
								background-color: white;
								border-top: 3px solid #800080;
								color: black;}
							
							#menu li.espacio{color:#800080;}
						
				#contenido{width: 1200px;
							height: 935px;
							background-color: purple;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
						    /*border-top:solid;
							border-bottom:solid;*/}

								#scrollmenu {background-color: #cc00cc;
									overflow: auto;
									white-space: nowrap;
									margin-left:15px;
									margin-right:15px; 
									}

								#scrollmenu table {display: inline-block;
									color: black;
									text-align: center;
									padding: 15px;
									text-decoration: none;}
									
								#scrollmenu th{
									text-align: center;
									padding: 30px;
									background-color: white;
									color: black;}
									
								#scrollmenu td {
									/*background-color: #cc00cc;*/
									text-align: center;
									padding: 30px;}
								
								#scrollmenu tr:hover {background-color:white;}
								
								#modificar{margin: 0 auto;
								background-color: #cc00cc;
								padding: 15px;
								margin-left:15px;
								margin-right:15px;
								font-size:20px;
								border-radius: 10px;}
								
								#modificar:hover {background-color:white;}
								
								#modificar select {
								width: 89px;
								height: 40px;
								}
								#modificar input {
								width: 89px;
								height: 40px;
								}
								
								#borrar{margin: 0 auto;
								background-color: #cc00cc;
								padding: 15px;
								margin-left:15px;
								margin-right:15px;
								font-size:20px;
								border-radius: 10px;}
								
								#borrar table { width: 100%;
								height:40px;
								text-align:left;}
								
								#borrar select {
								width: 89px;
								height: 40px;
								}
								#borrar input {
								width: 89px;
								height: 40px;
								}
								
								#borrar:hover {background-color:white;}
								
				#pie{width: 1200px;
						height: 35px;
						background-color: #800080;
							border-radius: 10px;
						/*border-top:solid;*/ }
							
					#copyright{position: relative;
						padding: 3em 0em;
						border-top: 10px solid #303030;
						letter-spacing: 1px;
						color: rgba(255,255,255,.4);}
				
		
					#copyright a{
						text-decoration: none;
						color: rgba(255,255,255,.4) !important;
					}

