
body {background-color: black;
		
		font-family: sans-serif;}
		
h3{
	font-family: sans-serif;
	color: #fff;
	}

h1 {
		color: #fff;
}

p {
	color: #fff:
	text-align: center; 
}

	#contenedor{width: 1200px;
				height: 1300px;
				margin: 0 auto;
				/*border:solid;*/}
				
				#cabecera{width: 1200px;
							height: 320px;}
							
					#login{width: 1200px;
							height: 35px;
							background-color: #800080;
							border-radius: 10px;
							position: right:
							color: #fff;
							/*border-bottom:solid;*/}
								
					#logo{margin: 0 auto;
							width: 450px;
							height: 200px;}
						
							
					#menu{margin: 0 auto;
							width:1200px;
							height:115px;
							/*border-top:solid;
							border-bottom:solid;*/}
						
							#menu ul {
								list-style-type: none;
								margin: 0;
								padding: 0;
								overflow: hidden;
								background-color: #800080;
								border-radius: 10px;}

							#menu li {
								float: left;}

							#menu li a {
								display: block;
								color: white;
								text-align: center;
								padding: 14px 16px;
								text-decoration: none;
								font-family: sans-serif;}

							#menu li a:hover {
								background-color: white;
								border-top: 3px solid #800080;
								color: black;}
							
							#menu li.espacio{color:#800080;}
						
				#contenido{width: 1200px;
							height: 935px;
							background-color: purple;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
						    /*border-top:solid;
							border-bottom:solid;*/}
							
					#contenidoprincipal {
						background-color: purple;
						text-align: center;
						color: #FFF;
						font-family: impact;
						font-size: 20px;
						text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
						-webkit-text-fill-color: #fff;
						-webkit-text-stroke: 0,5px black;
						border-radius: 55px 55px 55px 55px;
						-moz-border-radius: 55px 55px 55px 55px;
						-webkit-border-radius: 55px 55px 55px 55px;
						border: 0px solid #000000;}
				
								#scrollmenu {background-color: #b300b3 ;
									overflow: auto;
									white-space: nowrap;
									margin-left:15px;
									margin-right:15px;
									border-top-left-radius: 10px;
									border-top-right-radius: 10px;
									}
								
									#scrollmenu{width: 1170px;
										height: 450px;
										overflow-y: auto;}
										
									#scrollmenu table {display: inline-block;
										color: black;
										text-align: center;
										padding: 15px;
										text-decoration: none;
										}
										
									#scrollmenu th{
										text-align: center;
										padding: 30px;
										background-color: white;
										color: black;}
										
									#scrollmenu td {
										/*background-color: #cc00cc;*/
										text-align: center;
										padding: 30px;}
									
									#scrollmenu tr:hover {background-color:white;}
								
								#modificar{margin: 0 auto;
								background-color: #b300b3  ;
								padding: 15px;
								margin-left:15px;
								margin-right:15px;
								font-size:20px;
								border-radius: 10px;}
								
									#modificar:hover {background-color:white;}
									
									#modificar select {
									width: 89px;
									height: 40px;
									}
									
									#modificar input {
									width: 89px;
									height: 40px;
									}
									
								#borrar{margin: 0 auto;
								background-color:  #b300b3;
								padding: 15px;
								margin-left:15px;
								margin-right:15px;
								font-size:20px;
								border-radius: 10px;}
								
									#borrar table { width: 100%;
									height:40px;
									text-align:left;}
									
									#borrar select {
									width: 89px;
									height: 40px;
									}
									
									#borrar input {
									width: 89px;
									height: 40px;
									}
									
									#borrar:hover {background-color:white;}
								
								#insertar {margin: 0 auto;
								background-color:  #b300b3;
								padding: 15px;
								margin-left:15px;
								margin-right:15px;
								font-size:20px;
								border-radius: 10px;}
								
									#insertar table { width: 100%;
									height:40px;
									text-align:left;}
									
									#insertar input {
									width: 89px;
									height: 40px;
									}
									
									#insertar:hover {background-color:white;}
				
								#insertar_modificar {background-color: #b300b3 ;
									overflow: auto;
									white-space: nowrap;
									margin-left:15px;
									margin-right:15px;
									border-radius: 10px;
									}
									
										#insertar_modificar table {display: inline-block;
											color: black;
											text-align: center;
											padding: 15px;
											text-decoration: none;
											}
											
										#insertar_modificar th{
											text-align: center;
											padding: 30px;
											background-color: white;
											color: black;}
											
										#insertar_modificar td {
											/*background-color: #cc00cc;*/
											text-align: center;
											padding: 30px;}
										
										#insertar_modificar tr:hover {background-color:white;}
										
										#insertar_modificar select {
										width: 89px;
										height: 30px;
										}
										#insertar_modificar input.botones {
										width: 89px;
										height: 30px;
										}
									
								#formbuscar {background-color: #b300b3 ;
									overflow: auto;
									white-space: nowrap;
									margin-left:15px;
									margin-right:15px;
									border-radius:10px;
									}
									
										#formbuscar table {display: inline-block;
											color: black;
											text-align: center;
											padding: 15px;
											text-decoration: none;
											}
											
										#formbuscar th{
											text-align: center;
											padding: 30px;
											background-color: white;
											color: black;}
											
										#formbuscar td {
											/*background-color: #cc00cc;*/
											text-align: center;
											padding: 30px;}
										
										#formbuscar tr:hover {background-color:white;}
										
										#formbuscar select {
										width: 89px;
										height: 30px;
										}
										#formbuscar input.botones {
										width: 89px;
										height: 30px;
										}
										
								#buscar{width:1200px;
											height:500px;}
										
									#buscar table{width:1100px;
													height:100px;
													background-color: purple;
													margin-left:20px;}
			
									#buscar th.espacio{background-color: purple;
														color: purple;
														}
		
									#buscar tr.espacio{width:50px;
														height:5px;}
											
									#buscar th{width:50px;
												height:5px;}
												
									#buscar th.sombra{background-color: #b300b3;
														border-radius:50px;
														}

									#buscar a{color: white;
												text-decoration: none;}
									
										
										
										
				#pie{width: 1200px;
						height: 35px;
						background-color: #800080;
							border-radius: 10px;
						/*border-top:solid;*/ }
							
					#copyright{position: relative;
						padding: 3em 0em;
						border-top: 10px solid #303030;
						letter-spacing: 5px;
						color: rgba(255,255,255,.4);}
				
					#copyright a{
						text-decoration: none;
						color: rgba(255,255,255,.4) !important;
					}
					

